<div class="set">
  <ul id="carousel">
  {% for item in set.items %}
    <li class="item">
      {{ item | image_tag: 'w930' }} 
      {% if item.description or item.title %}
        <div class="description">
          {% if item.title %}
            <h2>{{ item.title }}</h2>
          {% endif %}
          {% if item.description %}
            {{ item.description | textilize }}
          {% endif %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
