{% if collections != empty %}
  {% if sets.frontpage %}
    {% assign _item = sets.frontpage.items.first %}
    <div class="item">
    {{ _item | asset_tag: '725' }}      
    </div>
  {% endif %}
{% else %}
  <div class="sets">
  {% for _set in sets %}
    <a href="{{ _set.items.first | path }}">
      {{ _set.cover | asset_tag: 'h150' }}
      <span class="title">{{ _set.title }}</span>
    </a>
  {% endfor %}
  </div>
{% endif %}