<div class="items">
  {% if collections != empty %}
    {% for _collection in collections %}
      {% for _set in _collection.sets %}
        <div class="item">
          <a href="{{ _set | path }}">{{ _set.cover | asset_tag: 'w210' }}</a>
        </div>
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for _set in sets %}
      <div class="item">
        <a href="{{ _set | path }}">{{ _set.cover | asset_tag: 'w210' }}</a>
      </div>
    {% endfor %}
  {% endif %}
</div>
