{% if collections != empty and sets.frontpage %}
  <div class="item">
   {{ sets.frontpage.items.first | asset_tag: '725' }}      
  </div>
{% else %}
  <div class="sets">
  {% for _set in sets %}
    <a href="{{ _set.items.first | path }}">
      {{ _set.cover | asset_tag: 'h150' }}
      <span class="title">{{ _set.title }}</span>
    </a>
  {% endfor %}
  </div>
{% endif %}
