<div id="collection">
  {% for set in collection.sets %}
    <a href="{{ set.items.first | path_with_collection: collection] }}" class="item">
      {{ set.cover | asset_tag: 'w400' }}
      <span class="title">{{ set.title }}</span>
    </a>
  {% endfor %}
</div>
<div class="description">
  {{ collection.description | textilize }}
</div>
