{% if collections != empty %}
  {% if sets.frontpage %}
    {% assign _item = sets.frontpage.items.first %}
    <div class="item">
    {{ _item | asset_tag: '800' }}      
    </div>
  {% endif %}
{% endif %}